nav {
  max-width: 1000px;
  margin: 0px auto;
  position: relative;
}

.nav {
  display: flex;
  flex-direction: column;
}

.md-nav {
  display: none;
}

.line {
  height: 60px;
  padding: 0px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pages {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pages span {
  margin: 20px;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.actions button {
  margin-left: 20px;
}

.actions,
.menu,
.logo {
  width: 30%;
}

.border {
  width: 100%;
  border-bottom: 1px solid #00000010;
}

@media (min-width: 768px) {
  .nav {
    display: none;
  }

  .md-nav {
    display: block;
  }
}
